In [1]:
%load_ext sql
%sql sqlite:///dataset_1.db

'Connected: None@dataset_1.db'

Лабораторная 3-3
------------

Задание #1
-----------

Таблицы

`bagel`, 
> * name STRING
> * price FLOAT
> * made_by STRING

`purchase`:
> * bagel_name STRING
> * franchise STRING
> * date INT
> * quantity INT
> * purchaser_age INT

`purchase.bagel_name` ->`bagel.name` и `purchase.franchise` ->`bagel.made_by`.

**Можно ли ты выяснить - были ли какие-либо покупки товаров, не входящих ни в 1 из официальных списков компании пончиков, используя только один sql запрос**

Write your query here:

In [7]:
%sql select * from bagel

Done.

[('Plain with shmear', 1.99, 'Bobs Bagels'),
 ('Egg with shmear', 2.39, 'Bobs Bagels'),
 ('eBagel Drinkable Bagel', 27.99, 'eBagel'),
 ('eBagel Expansion Pack', 1.99, 'eBagel'),
 ('Plain with shmear', 0.99, 'BAGEL CORP'),
 ('Organic Flax-seed bagel chips', 0.99, 'BAGEL CORP')]

In [8]:
%sql select * from purchase

Done.

[('Plain with shmear', 'Bobs Bagels', 1, 12, 28),
 ('Egg with shmear', 'Bobs Bagels', 2, 6, 47),
 ('Plain with shmear', 'BAGEL CORP', 2, 12, 24),
 ('Plain with shmear', 'BAGEL CORP', 3, 1, 17),
 ('eBagel Expansion Pack', 'eBagel', 1, 137, 5),
 ('Plain with shmear', 'Bobs Bagels', 4, 24, None),
 ('Drugs', 'BAGEL CORP', 7, 1000, 37)]