Данное домашнее задание посвящено схеме базе данных, связанной с футбольным командами. Схема расположена в hw_diagram.jpg
## Описание таблиц 

### Positions 
Позиции игроков
id - уникальный идентификатор позиции 
Name - Название таблицы 

### Coaches 
Таблица тренеров 
id - уникальный идентификатор тренера
Name - имя тренера 

## Teams 
Таблица команд 
id - уникальный идентификатор  команды 
Name - имя команды 
Location - расположение команды 
Coach_id - идентификатор тренера 

### Players 
Таблица игроков 
Id - уникальный идентификатор игрока 
Name - имя игрока 
Age - возраст игрока 
Position_id - идентификатор позиции 
Team_id - идентификатор команды 
Start_date - дата начала игры в команде 

### PlayersArchive 
Архив по игрокам (информация о том, в какой команде игрок играл ранее) 
player_id - идентификатор игрока 
team_id - идентификатор команды 
start_date - дата начала игры 
end_date - дата окончания игры

# Задание 1
Реализовать перенакатываемые sql-скрипты по схеме hw_diagram, приложенного ниже.

In [4]:
%load_ext sql
%sql sqlite:///test1.db

'Connected: @test1.db'

In [2]:
%%sql
DROP TABLE if exists PlayersArchive;
DROP TABLE if exists Coaches;
DROP TABLE if exists Players;
DROP TABLE if exists Teams;
DROP TABLE if exists Positions;

CREATE TABLE Positions(id integer(0,0) NOT NULL PRIMARY KEY, Name varchar(0,0));
CREATE TABLE Teams(id integer(0,0) NOT NULL PRIMARY KEY, Name varchar(0,0),
                   Location varchar(0,0), Coach_id varchar(0,0), FOREIGN KEY (Coach_id) REFERENCES Coaches(id));
CREATE TABLE Players(id integer(0,0) NOT NULL PRIMARY KEY, Name varchar(0,0), Age integer(0,0), Position_id varchar(0,0) NOT NULL,
                     Team_id varchar(0,0) NOT NULL, Start_date integer(0,0),
                     FOREIGN KEY (Position_id) REFERENCES Positions(id),
                     FOREIGN KEY (Team_id) REFERENCES Teams(id));
CREATE TABLE Coaches(id integer(0,0) PRIMARY KEY, name varchar(0,0));
CREATE TABLE PlayersArchive(Player_id varchar(0,0), Team_id varchar(0,0), start_date integer(0,0), end_date integer(0,0),
                     FOREIGN KEY (Player_id) REFERENCES Players(id),
                     FOREIGN KEY (Team_id) REFERENCES Teams(id));

 * sqlite:///test1.db
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

# Задание 2
Написать sql-скрипт, осуществляюший добавление всех возможных позиций игроков. (В данной задаче можно ограничится четырьмя - вратарь, защитник, полузащитник, нападающий)

In [3]:
%%sql
INSERT INTO Positions VALUES (1, 'goalkeeper');
INSERT INTO Positions VALUES (2, 'defender');
INSERT INTO Positions VALUES (3, 'midfielder');
INSERT INTO Positions VALUES (4, 'forward');

 * sqlite:///test1.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

# Задание 3
Написать функцию, осуществляющую добавление тренера. На вход функции подается имя тренера. При невозможности вставки функция должна обработать данное исключение и вывести пользователю информацию о проблеме

После написания функции необходимо добавить несколько тренеров для таблицы.

In [4]:
import sqlite3
db=sqlite3.connect('test1.db')
def check_coach(name):
    cur = db.cursor()
    cur.execute('''select id from Coaches where name = ?''', (name,))
    try:
        ID = cur.fetchone()[0]
        return ID
    except TypeError:
        print('Not found name', name)
        return -1
    
def insert_coach(Name):
    chk_chc = check_coach(Name)
    if chk_chc != -1:
        print('This coach was added before')
        return -1
    cur = db.cursor()
    cur.execute( '''
    SELECT COALESCE(MAX(id)+1, 1) FROM Coaches''')
    ID = cur.fetchone()[0]
    cur.execute('''
        INSERT INTO Coaches(id, name) VALUES(?,?)''', (ID,Name))
    db.commit()

In [5]:
insert_coach('SDBurn')
insert_coach('Jayne')
insert_coach('Kim-Won')
insert_coach('Sung-Khi')

Not found name SDBurn
Not found name Jayne
Not found name Kim-Won
Not found name Sung-Khi

# Задание 4

Написать функцию, осуществляющую добавление команды. На вход функция принимает (имя команды, местоположение, имя тренера).
На выходе должна быть добавлена команда.

После написания функции необходимо добавить несколько команд

In [ ]:
%%sql

In [6]:
def check_team(team_name):
    cur=db.cursor()
    cur.execute('''select id from teams where name =?''',(team_name,))
    try:
        team_id=cur.fetchone()[0]
        print('Team',team_name, 'already exist')
        return team_id
    except TypeError:
        return -1
    
def ID_Coach(coach_name):
    cur=db.cursor()
    cur.execute('''select id from coaches where name =?''',(coach_name,))
    try:
        coach_id=cur.fetchone()[0]
        return coach_id
    except TypeError:
        print('Coach',coach_name, "doesn't exist")
        return -1
    
def check_coach(Coach_ID):
    cur=db.cursor()
    cur.execute('''select id from teams where coach_id =?''',(Coach_ID,))
    try:
        team_id=cur.fetchone()[0]
        return team_id
    except TypeError:
        return -1        
    
def add_Team(team_name, location,coach_name):
    team_check = check_team(team_name)
    if team_check != -1:
        return -1
    cur=db.cursor()
    cur.execute( '''SELECT COALESCE(MAX(ID)+1, 1) FROM teams''')
    Team_ID=cur.fetchone()[0]
    Coach_ID = ID_Coach(coach_name) 
    if Coach_ID == -1:
        return -1
    Coach_check = check_coach(Coach_ID) 
    if  Coach_check != -1:
        print('Coach',coach_name, '')
        return -1
    cur.execute('''INSERT INTO teams VALUES(?,?,?,?)''', (Team_ID,team_name,location,Coach_ID))
    db.commit()

In [7]:
add_Team ('LAGladiators','Los-Angeles','Kim-Won');
add_Team('Dallas Fuel','Dallas','Jayne');
add_Team('London Spitfire','London','Sung-Khi');
add_Team('Philadelphia Fusion','Philadelphia','SDBurn');
%sql select * from teams

 * sqlite:///test1.db
Done.

[(1, 'LAGladiators', 'Los-Angeles', '3'),
 (2, 'Dallas Fuel', 'Dallas', '2'),
 (3, 'London Spitfire', 'London', '4'),
 (4, 'Philadelphia Fusion', 'Philadelphia', '1')]

In [5]:
%%sql
select * from coaches

 * sqlite:///test1.db
Done.

[(1, 'SDBurn'), (2, 'Jayne'), (3, 'Kim-Won'), (4, 'Sung-Khi')]

# Задание 5

Написать функцию, осуществляющую обновление информации о команде. У функции на входе должен быть один обязательный параметр - название команды и два необязательных параметра - имя тренера и местоположение. При этом хотя бы один из необязательных параметров должен быть заполнен. Функция должна обновлять значение переданных необязательных параметров.

После написания функции вызовите данную функцию несколько раз

In [8]:
def ID_team(team_name):
    cur=db.cursor()
    cur.execute('''select id from teams where name =?''',(team_name,))
    try:
        team_id=cur.fetchone()[0]
        return team_id
    except TypeError:
        print('Team',team_name,"doesn't exist")
        return -1   
    
def ID_coach(coach):
    cur=db.cursor()
    cur.execute('''select id from coaches where name =?''',(coach,))
    try:
        coach_id=cur.fetchone()[0]
        return coach_id
    except TypeError:
        return -1      
    
def update_team(*args):
    cur=db.cursor()
    length=len(args)
    commit_flag=0
    team_name=args[0]
    team_ID = ID_team(team_name) 
    if team_ID == -1:
        return -1
    coach_id=ID_coach(args[1]) 
    if coach_id == -1:
        location=args[1]
        commit_flag=1
    else:
        coach=args[1]
        commit_flag=2
    if length == 3:
        location=args[2]
        commit_flag=3
    if commit_flag==1:
         cur.execute('''update teams set location=? where name=?''', (location,team_name))
    elif commit_flag==2:
         cur.execute('''update teams set coach_id=? where name=?''', (coach_id,team_name))
    else:
         cur.execute('''update teams set location=?, coach_id=? where name=?''', (location,coach_id,team_name))
    db.commit()

In [9]:
update_team('London Spitfire','Busan')
update_team('London Spitfire','Oge')
update_team('SDragons')

Team SDragons doesn't exist

-1

# Задание 6

Написать функцию, осуществляющую добавление нового футболиста в таблицу игроков. На входе (имя, возраст, название позиции, название команды, дата перехода в команду(необязательный параметр)). Если дата перехода не указана, то нужно использовать текущую дату. Предусмотреть различные ошибки (такие как неверное имя позиции, неверное название команды, возраст < 10 и > 50 и т.п.)

После написания функции необходимо добавить несколько игроков.

In [10]:
import datetime

def check_player(player_name):
    cur=db.cursor()
    cur.execute('''select id from Players where name =?''',(player_name,))
    try:
        player_id=cur.fetchone()[0]
        print('Игрок',player_name, 'уже существует')
        return player_id
    except TypeError:
        return -1

def ID_position(position):
    cur=db.cursor()
    cur.execute('''select id from positions where name =?''',(position,))
    try:
        position_id=cur.fetchone()[0]
        return position_id
    except TypeError:
        print('Позиции',position,'не существует')
        return -1   
    
def ID_team(team_name):
    cur=db.cursor()
    cur.execute('''select id from teams where name =?''',(team_name,))
    try:
        team_id=cur.fetchone()[0]
        return team_id
    except TypeError:
        print('Team',team_name,"doesn't exist")
        return -1      
    
def update_player(*args):
    length=len(args)
    player_name=args[0]
    player_check = check_player(player_name)
    if player_check != -1:
        return -1
    cur=db.cursor()
    cur.execute( '''SELECT COALESCE(MAX(ID)+1, 1) FROM Players''')
    player_ID = cur.fetchone()[0]
    age=args[1]
    if age<10 or age>50:
        print(player_name,'innaprop. age')
        return -1
    position=args[2]
    position_ID = ID_position(position) 
    if position_ID == -1:
        return -1
    team=args[3]
    team_ID = ID_team(team) 
    if team_ID == -1:
        return -1
    if length==4:
        data = datetime.date.today()
    else:
        data=args[4]
    cur.execute('''INSERT INTO Players VALUES(?,?,?,?,?,?)''', (player_ID,player_name,age,position_ID,team_ID,data))
    db.commit()

In [11]:
update_player('George',15,'forward','LAGladiators','2017-03-12');
update_player('Sawa',20,'goalkeeper','Philadelphia Fusion','2016-02-18');
update_player('Arkady',9,'defender','Dallas Fuel','2015-12-30');
update_player('Eugene',18,'midfielder','London Spitfire','2017-10-16');

Arkady innaprop. age

In [12]:
%sql select * from  Players

 * sqlite:///test1.db
Done.

[(1, 'George', 15, '4', '1', '2017-03-12'),
 (2, 'Sawa', 20, '1', '4', '2016-02-18'),
 (3, 'Eugene', 18, '3', '3', '2017-10-16')]

# Задание 7
Написать функцию для перевода игрока в другую команду. Данная функция должна осуществить архивирование текущей записи в таблице игроков в таблицу players_archive с заполнение end_date - датой начала игры за новую команду - 1 день. А также осуществлять изменение поля в таблице Players. При возникновении ошибки должен осуществляться полный откат транзакции.

In [13]:
import datetime
from dateutil import parser
from datetime import timedelta
from datetime import datetime

def check_player(player_name):
    cur=db.cursor()
    cur.execute('''select id from Players where name =?''',(player_name,))
    try:
        player_id=cur.fetchone()[0]
        return player_id
    except TypeError:
        print('Player',player_name,"doesn't exist")
        return -1

def translation(Pname, Tname, start_date):
    player_name = Pname
    player_id = check_player(player_name) 
    if player_id == -1:
        return -1
    
    team = Tname
    team_ID = ID_team(team) 
    if team_ID == -1:
        return -1
    
    cur=db.cursor()
    cur.execute('''select team_id from Players where name =?''',(player_name,))
    team_id=cur.fetchone()[0]
    cur.execute('''select start_date from Players where name =?''',(player_name,))
    start_date_last = cur.fetchone()[0] 
    start_date_new = parser.parse(start_date)
    end_date = (start_date_new + timedelta(-1)).date()
    
    date1 = datetime.strptime (start_date_last, '%Y-%m-%d')
    if date1.year > end_date.year or (date1.year == end_date.year and date1.month > end_date.month) or (date1.year == end_date.year and date1.month == end_date.month and date1.day > end_date.day):
        print("Date error")
        return -1;
    
    cur.execute('''INSERT INTO PlayersArchive VALUES(?,?,?,?)''', (player_id,team_id,start_date_last,end_date))
    cur.execute('''update Players set team_id = ?, start_date = ?  where ID = ?''', (team_ID,start_date_new.date(),player_id ))
    
    db.commit()

In [14]:
translation('George', 'Dallas Fuel','2017-08-05')
translation('George', 'London Spitfire', '2017-08-30')
translation('George', 'LAGladiators', '2017-09-05')
translation('George', 'London Spitfire', '2017-10-01')

In [15]:
%sql select * from PlayersArchive

 * sqlite:///test1.db
Done.

[('1', '1', '2017-03-12', '2017-08-04'),
 ('1', '2', '2017-08-05', '2017-08-29'),
 ('1', '3', '2017-08-30', '2017-09-04'),
 ('1', '1', '2017-09-05', '2017-09-30')]

In [ ]:
12,23,31,12